<div [className]="this.gameInfo.active ? 'game-card owner active' : 'game-card owner'">
  <img src="{{ this.gameInfo.image_url }}" alt="" />
  <label>
    <div style="color:red" *ngIf="this.gameInfo.daysLeft > 0;then notover else over"></div>
    <ng-template #over><b class="over-info">Overdue!</b></ng-template>
    <ng-template #notover><b class="notover-info">{{this.gameInfo.daysLeft}} days left</b></ng-template>
  </label>
  <div class="hover-area">
    <a class="hover-btn show-btn">Show Info</a>
    <a class="hover-btn return-btn">Mark as Returned</a>
    <a class="hover-btn delete-btn">Delete Game</a>
  </div>

  <div class="delete-modal modal" id="delete-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Are you sure you want to remove {{ this.gameInfo.game_name }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="btn delete" (click)="deleteGame()">Delete Game</div>
        </div>
      </div>
    </div>
  </div>
  <div class="return-modal modal" id="return-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Are you sure you want to mark {{ this.gameInfo.game_name }} as
            returned?
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="btn return" (click)="markAsReturned()">
            Mark as Returned
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-modal modal" id="show-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ this.gameInfo.game_name }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="game-info row ">
            <div class="col-4 img-col ">
              <img src="{{ this.gameInfo.image_url }}" alt=" " />
            </div>
            <div class="col-8 text-col ">
              <h4>{{ this.gameInfo.game_name }}</h4>
              <!--this changed, tem de se por aqui um ngFor-->
              <div class="categories ">
                <div class="pill active" *ngFor="let cat of this.gameInfo.category">
                  {{ cat }}
                </div>
              </div>
              <div class="description">
                {{ this.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>