* {
    color: #222222;
    box-sizing: border-box;
}

.section {
    margin-top: 15px;
    .row.first {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 1px solid #444444;
    }
}

.game {
    background: #eeeeee;
    width: 85px;
    height: 110px;
    border-radius: 1px;
    position: relative;
    &.warn {
        .info {
            font-weight: bold;
            background: var(--redB);
        }
    }
    &.almost {
        .info {
            background: var(--lightOrange);
        }
    }
    .info {
        background: rgba(0, 0, 0, 0.1);
        padding: 6px 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 0.62em;
        span {
            display: block;
        }
    }
}

.caroussel {
    display: flex;
    justify-content: space-around;
    padding: 15px 2px 10px 2px;
}

.trending-section {}

.activity-section {
    .group-group {
        display: flex;
        width: 100%;
        justify-content: stretch;
        margin: auto;
    }
    .group {
        background: white;
        padding: 5px;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: 0;
        display: inline-block;
        flex: 1 1 auto;
        border: 1px solid #eeeeee;
        position: relative;
        padding-top: 22px;
        span {
            margin-left: 10px;
            margin-bottom: -10px;
            font-size: 0.9em;
            position: absolute;
            top: 0;
            left: -10px;
            width: 40%;
            padding: 5px 15px;
            background: #f2f2f2;
            box-shadow: inset -20px 0 20px -10px white;
            z-index: 2;
        }
        .caroussel {
            justify-content: flex-start;
            padding-left: 15px;
            .game {
                margin-right: 30px;
            }
        }
        .row {
            margin: 5px;
        }
    }
}

$orange: #fbab5b;
$faintOrange: #f3aa5a69;
$grey: #494a4b;
$white: #ffffff;
$lightGrey: #f7f7f7;
$green: #5aac44;
$red: #b22222;
//generalizar isto, por num css alto-nivel
//adicionei a opção da class interactive, passar a usar isso na library (efeitos de hover)
.pill {
    &:not(.interactive) {
        border: 2px solid var(--orangeB)!important;
        background: var(--orangeC)!important;
    }
    font-size: 12px;
    margin: 4px;
    cursor: pointer;
    background: #dfdfdf;
    padding: 2px 10px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: inline-block;
    &.interactive:not(.active) {
        &:hover {
            border-color: var(--orangeB);
            background: var(--orangeA);
        }
    }
    &.active {
        border: 2px solid var(--orangeB);
        background: var(--orangeC);
        &.interactive:hover {
            border-color: var(--redA);
            background: var(--redC);
            position: relative;
            color: rgba(0, 0, 0, 0.2);
            &:after {
                content: "x";
                color:  var(--red);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -55%);
                font-size: 16px;
            }
        }
    }
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
}

//chat------
.header {
    width: 100%;
    border-bottom: 1px solid #fafafa;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 3;
    background:white;
}

.chat-button {
    padding: 12px;
    b {
        color: inherit;
    }
    border-radius:0px 0px 60px 60px;
    &#accept {
        background: var(--darkGreenB);
        /*  opacity: 0.8; */
        color: var(--darkGreen);
        transition-duration: 0.2s;
        cursor: pointer;
        &:hover {
            background: var(--darkGreen);
            color: white;
        }
    }
    &#refuse {
        background: var(--redB);
        /* opacity: 0.8; */
        color:  var(--red);
        transition-duration: 0.2s;
        cursor: pointer;
        &:hover {
            background:  var(--red);
            color: white;
        }
    }
    &#mark-returned {
        background: var(--orangeD);
        /* opacity: 0.8; */
        color:  var(--orange);
        transition-duration: 0.2s;
        cursor: pointer;
        &:hover {
            background:  var(--orange);
            color: white;
        }
    }
}

.chat-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 50px 0;
    .chat-bubble {
        display: inline-block;
        background: #eee;
        margin: 10px 0;
        padding: 20px 40px 20px 20px;
        max-width: 80%;
        position: relative;
        float: left;
        clear: both;
        border-radius: 8px;
        .text {
            text-align: left;
            hyphens: auto;
        }
        &.me {
            float: right;
            background:  var(--orange);
            margin-right: 20px;
            text-align: right;
            color:var(--keepBlack);
            *{
                color:inherit;
            }
            &:after {
                border-left: none;
                border-right: 16px solid transparent;
                border-bottom: 16px solid  var(--orange);
                left: 100%;
                margin-left: -6px;
            }
        }
        &.other {
            margin-left: 20px;
        }
        &.system {
            width: 100%;
            max-width: unset;
            /* background: none!important; */
            /* padding: 0!important; */
            border-radius: 0;
            padding: 28px;
            .text {
                border-radius: 8px;
                padding: 20px;
                width: 80%;
                background:  var(--faintOrange);
                margin: auto;
                /* border: 5px solid #fbab5b; */
                background: white;
                font-size: 1.1em;
                box-shadow: 0 0 2px 2px  var(--orange);
                font-weight: bold;
                text-align: center;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -10px;
            border: 16px solid transparent;
            border-bottom: 16px solid #eee;
            border-right: none;
        }
    }
}

.chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    .form-group {
        display: flex;
        margin-bottom: 0;
        margin-top: 10px;
        a.btn {
            background: #222;
            color: white;
            border-radius: 0;
        }
        input {
            flex: 1;
            min-width: 0;
            padding: 8px 20px;
            border: none;
            border-top: 1px solid gainsboro;
            border-left: 1px solid gainsboro;
            background: #ffffff;
            &::placeholder {
                color: lightgrey;
            }
        }
    }
}

.accept-loan-modal,
.refuse-loan-modal {
    .modal-dialog {
        margin-top: 180px;
    }
    .btn {
        padding: 10px 20px;
        font-weight: 500;
        background: var(--darkGreenB);
        color: var(--darkGreen);
        width: 100%;
        transition-duration: 0.2s;
        &:hover,
        &:focus {
            background: var(--darkGreen);
            color: white;
        }
    }
    &.refuse-loan-modal {
        .btn {
            background: var(--redB);
            color:  var(--red);
            &:hover,
            &:focus {
                background:  var(--red);
                color: white;
            }
        }
    }
}

.mark-returned-modal {
    .modal-dialog {
        margin-top: 180px;
    }
    .btn {
        width: 60%;
        padding: 10px 20px;
        font-weight: 500;
        transition-duration: 0.2s;
        &#accept {
            background: var(--darkGreenB);
            color: var(--darkGreen);
            &:hover,
            &:focus {
                background: var(--darkGreen);
                color: white;
            }
        }
        &#refuse {
            background: var(--redB);
            color:  var(--red);
            &:hover,
            &:focus {
                background:  var(--red);
                color: white;
            }
        }
    }
}