<div class="header row" *ngIf="this.lender && !this.choosen && this.game.active && this.loanState != 'past'">
    <div class="col-6 text-center chat-button" id="accept" style="border-right:1px solid gainsboro" (click)="this.acceptLoan()"><b>Accept Loan</b></div>
    <div class="col-6 text-center chat-button" id="refuse" (click)="this.refuseLoan()"><b>Refuse Loan</b></div>
</div>
<div class="chat-list ">
    <div *ngFor="let message of chat" [ngClass]="((message.user=='lender' && lender) || (message.user=='borrower' && !lender))? 'chat-bubble me' : ( message.user == 'system' ? 'chat-bubble system' : 'chat-bubble other') ">
        <div class="text ">{{message.content}}</div>
    </div>

</div>
<div class="chat-form ">
    <div class="form-group ">
        <input type="text" placeholder="Send a message" id="chat-input" (keyup)="sendMessage($event) ">
        <a class=" btn " id="send-msg " (click)="sendMessage($event) ">Send</a>
    </div>
</div>