<div class=" modal accept-loan-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure you want to loan {{game.game_name}} to {{targetPersonName}}?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body clearfix">
                <button type="button" class="btn pull-right" (click)="this.acceptLoan()">Accept Loan</button>
            </div>
        </div>
    </div>
</div>
<div class=" modal refuse-loan-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure you want to reject {{targetPersonName}}'s request for {{game.game_name}}?
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn" (click)="this.refuseLoan()">Refuse Loan</button>
            </div>
        </div>
    </div>
</div>
<div class=" modal mark-returned-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Are you sure the game {{game.game_name}} was returned?
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <div class="modal-body col-6 text-center">
                    <button type="button" class="btn" id="accept" (click)="markReturned()">Yes</button>
                </div>
                <div class="modal-body col-6 text-center">
                    <button type="button" class="btn" id="refuse" data-dismiss="modal">Not yet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header row" *ngIf="this.lender && !this.choosen && this.game.active && this.loanState == 'pending'">
    <div class="col-6 text-center chat-button" id="accept" style="border-right:1px solid gainsboro" (click)="acceptModal()">
        <b>Accept Loan</b>

    </div>
    <div class="col-6 text-center chat-button" id="refuse" (click)="this.refuseModal()">
        <b>Refuse Loan</b>

    </div>
</div>
<div class="header row" *ngIf="this.lender && this.showReturnBanner">
    <div class="col-12 text-center chat-button" id="mark-returned" style="border-right:1px solid gainsboro;" (click)="this.returnModal()">
        <b>Mark as Returned</b>
    </div>

</div>
<div class="chat-list ">
    <div *ngFor="let message of chat" [ngClass]="((message.user=='lender' && lender) || (message.user=='borrower' && !lender))? 'chat-bubble me' : ( (message.user == 'system-lender' || message.user == 'system-borrow') ? 'chat-bubble system' : 'chat-bubble other') ">
        <div class="text ">{{message.content}}</div>
    </div>

</div>
<div class="chat-form ">
    <div class="form-group ">
        <input type="text" placeholder="Send a message" id="chat-input" (keyup)="sendMessage($event) ">
        <a class=" btn " id="send-msg " (click)="sendMessage($event) ">Send</a>
    </div>
</div>