<div class="game-card non-owner">
    <img src="{{ this.gameInfo.image_url }}" (click)="openModal($event)" />
    <label>
        <div style="color:red" *ngIf="this.gameInfo.daysLeft > 0;then notover else over"></div>
        <ng-template #over><b class="over-info">Overdue!</b></ng-template>
        <ng-template #notover><b class="notover-info">{{this.gameInfo.daysLeft}} days left</b></ng-template>
    </label>
</div>

<div class="game-page modal" id="game-modal" role="dialog">
    <!-- (click)="openModal($event)" -->
    <div class="modal-content">
        <div class="row ">
            <div class="col-8 game-col " style="min-height: calc(75vh - 80px);">
                <div class="game-info row ">
                    <div class="col-3 img-col ">
                        <img style="max-width:150px;width:100%;" src="{{ this.gameInfo.image_url }}" alt=" " />
                    </div>
                    <div class="col-8 text-col ">
                        <h4 style="margin-bottom:20px"><b>{{ this.gameInfo.game_name }}</b> ({{this.gameInfo.console}})
                        </h4>
                        <!--this changed, tem de se por aqui um ngFor-->
                        <div class="categories">
                            <div class="pill active" *ngFor="let cat of this.gameInfo.category">
                                {{ cat }}
                            </div>
                        </div>
                        <div> <b>Release year:</b> {{ this.gameInfo.year }}</div>
                        <h6>{{this.gameDescription}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-4 users-col " *ngIf="this.url !== '/user/library'">
                <div class="filter-section" *ngIf="this.url !== '/user/library'"
                    style="padding: 30px 15px; border-bottom: 1px solid gainsboro;">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for=" "><b>Loan <div>Duration</div></b></label>
                                <select name=" " id="duration-select" #durationselect (change)="this.filterLenders()">
                                    <option value="0" selected>Select</option>
                                    <option value="1">1 week</option>
                                    <option value="2">2 weeks</option>
                                    <option value="3">3 weeks</option>
                                    <option value="4">4 weeks</option>
                                    <option value="5">5 weeks</option>
                                    <option value="6">6 weeks</option>
                                    <option value="7">7 weeks</option>
                                    <option value="8">8 weeks</option>
                                    <option value="9">9 weeks</option>
                                    <option value="10">10 weeks</option>
                                </select>
                                <div class="error-message loan-error-msg hidden">Required field</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for=" "><b>Maximum <div>Distance</div></b></label>
                                <select name=" " id="distance-select" #distanceselect (change)="this.filterLenders()">
                                    <option value="0 " selected>Any</option>
                                    <option value="50 ">50 kms</option>
                                    <option value="100 ">100 kms</option>
                                    <option value="150 ">150 kms</option>
                                    <option value="200 ">200 kms</option>
                                    <option value="250 ">250 kms</option>
                                    <option value="300 ">300 kms</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>

                <h5 *ngIf="this.selectedLoanDuration" class="list-lender-title">Available Lenders:</h5>
                <h4 class="error-message text-center" style="margin-top: 20px;" *ngIf="this.lendersOfGame.length == 0">
                    No lenders found that match the selected criteria</h4>
                <div *ngIf="!this.selectedLoanDuration" class="text-center" style="padding: 20px; color: #7d7d7d">
                    Select for how long you'd like to borrow {{this.gameInfo.game_name }} </div>
                <div *ngIf="this.selectedLoanDuration">

                    <div class="user" *ngFor="let lender of this.lendersOfGame">
                        <div class="user-info ">
                            <div class="user-name">
                                {{ lender.first_name }} {{ lender.last_name }}
                            </div>
                            <div class="user-ratings ">
                                <span class="star-rating">{{ lender.lender_rating.toFixed(1) }}</span><i
                                    class="fas fa-star "></i> /
                                <span class="loan-count">{{ lender.total_lent }}</span> Loans
                            </div>
                            <a class="rent-btn " (click)="openMessageModal($event)">→</a>
                        </div>
                        <div class="message-page modal" id="message-modal" role="dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">
                                        Say something to lender
                                    </h5>
                                    <button type="button" class="close" onclick='$(".message-page").modal("hide")'
                                        aria-label="Close" (click)="closeModal($event)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row ">
                                        <div class="col-12 ">
                                            <textarea type="text"
                                                placeholder="Say something like: 'Hi! I'd like to borrow your game!'"
                                                (keydown)="textareaInput($event)"></textarea>
                                            <div class="error-message textarea-error-msg hidden">Message cannot be empty
                                            </div>
                                            <button (click)="modalClick($event)" [attr.data-user]="lender.email">
                                                Send Message
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loan-info" *ngIf="this.url === '/user/library'">
                <label><b>Game owner:</b> {{this.gameOwner.first_name}} {{this.gameOwner.last_name}}</label>
                <div>
                    <label><b>Loan ending date:</b> {{this.gameInfo.endDate}} (<b
                            *ngIf="this.lessThanOne(this.lendingDaysLeft)">Overdue!</b>
                        <b *ngIf="this.lendingDaysLeft > 0">{{this.lendingDaysLeft}} days left</b>)
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>