<div class="row">


    <div class="col-3">
        <h4>Filter Results</h4>
        <div class="row">
            <h5>Genre</h5>
            <div class="col-12">
                <h6>Action</h6>
                <h6>Sports</h6>
                <h6>Cooking</h6>
                <h6>Simulation</h6>
                <h6>Puzzle</h6>
                <h6>Adventure</h6>
            </div>
        </div>

        <div class="row">
            <h5>Console</h5>
            <div class="col-12">
                <div class="option">
                    <h6>Ps4</h6>
                    <h6>Xbox One</h6>
                    <h6>PsP</h6>
                    <h6>PC</h6>
                    <h6>PS3</h6>
                    <h6>Xbox 360</h6>
                    <h6>Switch</h6>
                </div>
            </div>
        </div>
    </div>

    <browse-results class="col-9"></browse-results>
</div>