$orange: #fbab5b;
$faintOrange: #f3aa5a69;
$darkOrange: #e88d31;
$grey: #494a4b;
$white: #ffffff;
$lightGrey: #f7f7f7;
$green: #5aac44;
$red: #b22222;
.logo {
    width: 50px;
    display: inline-block;
}

.nav {
    border: 1px solid gainsboro;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: #d8dcdf;
    .norm-input {
        opacity: 0;
    }
    .input-wrapper {
        position: absolute;
        top: 58px;
        max-width: 500px;
        width: 40vw;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 50px;
        background: white;
        .abs-input {
            font-size: 1em;
            line-height: 1.5em;
            padding: 10px 30px;
            border: 1px solid gainsboro;
            border-radius: 50px;
            width: 100%;
            padding-left: 180px;
        }
        //bootstrap-select no styles.css porque autismo do angular
    }
    .navbar-brand {
        a {
            color: inherit;
        }
        color:#222222;
        display:flex;
        align-items:center;
        padding:0;
        .logo {
            margin-right: 15px;
        }
    }
    display:flex;
    align-items:center;
    justify-content:space-between;
    .right-hand {
        display: flex;
        align-items: center;
    }
    .links {
        display: flex;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 50%;
        font-size: 0.9em;
        transform: translate(-55%, 0);
        top: 20px;
        li {
            list-style-type: none;
            display: inline-block;
            padding: 5px 20px;
            text-align: center;
            border-right: 1px solid gainsboro;
            text-shadow: 0 0px 3px #ffffffb8;
            a {
                color: #666666;
                &.active {
                    color: $darkOrange;
                }
            }
            &:last-child {
                border-right: none;
            }
        }
    }
    .user-info {
        margin-left: 20px;
        position: relative;
        .row {
            display: block;
            text-align: center;
            position: relative;
            &.user {}
            &.points {
                font-size: 0.8em;
                font-weight: 500;
                position: absolute;
                bottom: -16px;
                right: 30px;
            }
            &.logout {
                color: red
            }
        }
    }
    .fa-bell {
        position: relative;
        margin-right: 10px;
        &.clicked {
            color: #666;
            opacity: 0.6;
        }
        &:not(.active) {
            &:after {
                display: none;
            }
        }
        &:after {
            content: attr(data-content);
            color: white;
            font-family: sans-serif;
            font-size: 14px;
            padding: 3px 5px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(60%, -60%);
            background: red;
        }
    }
    .fa-coins,
    .points {
        color: #c16f1c;
        &:hover {
            cursor: pointer;
        }
    }
    .notifications {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        max-height: 500px;
        overflow: auto;
        &.hidden {
            display: none;
        }
        position: absolute;
        right: -150px;
        top: 81px;
        z-index:99;
        transform: translate(-50%, 0);
        width: 300px;
        background: white;
        border-radius: 5px 5px 13px 13px;
        box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.3);
        li.unread {
            order: 1;
            &,
            * {
                font-weight: bold!important;
            }
        }
        li.read {
            order: 2;
        }
        li a {
            display: block;
            padding: 20px;
            border-radius: 13px;
            border-bottom: 2px solid gainsboro;
            transition-duration: 0.2s;
            &:hover,
            &:focus {
                background: #FAFAFA;
                transform: scale(1.02);
            }
        }
        .first-row {
            font-size: 12px;
            .notif-user {}
            .sep {
                padding: 0 5px;
            }
            .notif-game {
                display: block;
            }
        }
        .content {
            margin: 6px 0;
            border-left: 2px solid gainsboro;
            padding: 5px 8px;
            overflow: hidden;
            font-size: 14px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .time {
            font-size: 11px;
            padding-top: 5px;
        }
    }
    .logout {
        color: $red;
        position: relative;
        margin-left: 15px;
        &:hover {
            &:after {
                content: 'Logout';
                font-weight: 500;
                letter-spacing: 0.5px;
                font-family: sans-serif;
                position: absolute;
                top: -50%;
                right: 50%;
                background: rgba(0, 0, 0, 0.6);
                color: white;
                font-size: 12px;
                padding: 4px 8px;
            }
            cursor: pointer;
        }
    }
}