<div class="nav">
    <div class="input-wrapper">
        <select class="selectpicker" data-width="170px" title="All consoles" multiple data-actions-box="true">
            <option *ngFor="let console of this.consoles">{{console}}</option>
        </select>
        <input type="text" placeholder="Search for a game..." class="abs-input" #search (keyup)="searchGame()" />
    </div>
    <div class="navbar-brand">
        <a routerLink="/home" routerLinkActive="active">
            <img class="logo" src="assets/llama_2.png" />
        </a>
        <a routerLink="/home" routerLinkActive="active">LlemePlay</a>
    </div>
    <input class="norm-input" type="text" placeholder="..." />


    <!--<ul>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Select consoles<b class="caret"></b></a>
            <ul class="dropdown-menu console-dropdown">
                <li *ngFor="let console of this.consoles">
                    <div class="checkbox">
                        <label>
                            <input [attr.data-console]="console" type="checkbox" />{{
                console
              }}
                        </label>
                    </div>
                </li>
            </ul>
                  
        </li>
    </ul>-->


    <ul class="links">
        <li>
            <a routerLink="/user/library" routerLinkActive="active" [ngClass]=" this.url.includes('libary') ? 'active' : ''"><b>My Library</b></a>
        </li>
        <li>
            <a routerLink="/user/profile" routerLinkActive="active" [ngClass]=" this.url.includes('profile') ? 'active' : ''"><b>My Account</b></a>
        </li>
        <li>
            <a routerLink="/user/inbox" routerLinkActive="active" [ngClass]=" this.url.includes('inbox') ? 'active' : ''"><b>Inbox</b></a>
        </li>
    </ul>
    <div class="right-hand">
        <i class="fas fa-bell" (click)="toggleNotifications()" style="display: block;"></i>
        <ul class="notifications hidden list-unstyled">
            <li *ngFor="let notification of this.notifications" [ngClass]=" notification.read ? 'read' : 'unread'">
                <a (click)="clickNotification(notification)">
                    <div class="first-row">
                        <span class="notif-game"><b>{{notification.game}}</b></span>
                        <span class="sep"></span>
                        <span class="notif-user">{{this.getUser(notification.otherUser).first_name}}
                            {{this.getUser(notification.otherUser).last_name}}</span>

                    </div>
                    <div class="content">{{notification.content}}</div>
                    <div class="second-row time">
                        <i class="far fa-clock"></i> {{notification.date}} {{notification.time}}
                    </div>
                </a>
            </li>
        </ul>

        <div class="user-info">
            <div class="row user">
                <b>{{ userInfo.first_name }} {{ userInfo.last_name }}</b>
                <i class="fas fa-power-off logout" (click)="logout()"></i>
            </div>
            <div class="row points">{{ userInfo.llama_points }} <i class="fas fa-coins"></i></div>
        </div>



        <!--   <div class="user-info">
            <ul>
                <li class="dropdown row user">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ userInfo.first_name }}
                        {{ userInfo.last_name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="row logout" (click)="logout()">Logout</li>
                    </ul>
                </li>
            </ul>
            <div class="row points">{{ userInfo.llama_points }} Llama points</div>
        </div> -->
    </div>
</div>