<div>
    <div>
        <a routerLink="/home" routerLinkActive="active">
            <img class="img_navbar" src="assets/llamma.png">
        </a>
        <label>
            <a routerLink="/home" routerLinkActive="active">
                <h6 class="tittle">Llamma Squad</h6>
            </a>
        </label>

        <!--  <searchbar></searchbar> -->

        <label>
            <a routerLink= "/user/library" routerLinkActive="active">
                <h6 class="library">My Libray</h6>
            </a>
        </label>

        <label>
            <a routerLink="/user/inbox" routerLinkActive="active">
                <h6 h6 class="inbox">Inbox</h6>
            </a>
        </label>

        <label>
            <h6 class="notific">Notific</h6>
        </label>

        <!--  <dropdown></dropdown> -->
    </div>
</div>