<div class="nav">
    <input type="text" placeholder="Search for a game..." class="abs-input" #search (keyup)="searchGame($event)">
    <div class="navbar-brand">
        <a routerLink="/home" routerLinkActive="active">
            <img class="logo" src="assets/llamma.png">
        </a>
        <a routerLink="/home" routerLinkActive="active">Lleme Play</a></div>
    <input class="norm-input" type="text" placeholder="...">
    <ul class="links">
        <li><a routerLink="/user/library" routerLinkActive="active"><b>My Library</b></a></li>
        <li><a routerLink="/user/profile" routerLinkActive="active"><b>My Account</b></a></li>
        <li><a routerLink="/user/inbox" routerLinkActive="active"><b>Inbox</b></a></li>

    </ul>
    <div class="right-hand">
        <div class="user-info">
            <div class="row user">{{userInfo.first_name}} {{userInfo.last_name}}</div>
            <div class="row points">{{userInfo.llama_points}}*</div>
            <div class="row logout">
                <li (click)="logout()">Logout</li>
            </div>
        </div>
    </div>
</div>