.logo {
    width: 65px;
    height: 65px;
    display: inline-block;
}

.title {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-left: 15px;
}

.boxElem {
    margin-bottom: 18px;
    width: 350px;
}

.box {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    display: flex;
    align-items: flex-start;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    justify-content: center;
    padding: 25px;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #FAFAFA;
    /* Need a specific value to work */
}

.box-title {
    margin-bottom: 25px;
    color: #fb9e25;
    margin-left: 25px;
}

.button {
    box-shadow: inset 0px 1px 0px 0px #fce2c1;
    background-color: #ffb95d;
    border-radius: 6px;
    border: 1px solid #db9c2e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 32px;
    margin-bottom: 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #cc9f52;
}

.button:hover {
    background-color: #fb9e25;
}

.button:active {
    position: relative;
    top: 1px;
}

.row-box {
    width: 100%;
    padding: 10px;
}

.register {
    color: saddlebrown;
    text-align: center;
    font-size: 12px;
}

.row-button {
    align-self: center;
    padding-top: 10px;
}

.error-message {
    color: #B22222;
    font-size: 0.9rem;
}

input {
    margin-left: 1px;
    padding: 5px 10px;
}