<div class="row">
    <div class="col-12">
        <img class="logo" src="assets/llamma.png">
        <h3 class="title">Lleme Play</h3>
    </div>
</div>

<div class="box">

    <h3 class="box-title pull-left">Log In</h3>



    <div class=" row-box ">
        <div class="col-12 ">
            <h6 class="subtitles ">Username</h6>
            <input type="text " class="boxElem " placeholder="Username " #username>
        </div>
    </div>

    <div class="row-box ">
        <div class="col-12 ">
            <h6 class="subtitles ">Password</h6>
            <input type="text " class="boxElem " placeholder="Insert a password ">
        </div>
    </div>

    <div class="col-12" *ngIf="showerror" style="padding-left: 25px;">
        <p class=error>Incorrect username or password</p>
    </div>

    <div class="row-button ">
        <button type="submit" class="button" (click)="login(username.value) ">Log in</button>
        <div class="register ">
            <a class="register " routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </div>


</div>