<div class="row">
    <div class="col-12">
        <img class="logo" src="assets/llama_2.png">
        <h3 class="title">LlemePlay</h3>
    </div>
</div>

<div class="box">

    <h3 class="box-title">Log In</h3>



    <div class=" row-box ">
        <div class="col-12 ">
            <h6 class="subtitles ">E-mail</h6>
            <input type="text" class="boxElem " placeholder="Insert e-mail address " #username (keydown)="keypress(username.value,password.value,$event)" required>
            <!--    <div *ngIf="loginError" class=error-message><b>Please insert a username</b></div> -->
        </div>
    </div>

    <div class="row-box ">
        <div class="col-12 ">
            <h6 class="subtitles ">Password</h6>
            <input id="pass" type="password" class="boxElem " placeholder="Insert password" #password required (keydown)="keypress(username.value,password.value,$event)">
            <i class="fas fa-eye"></i>
            <!--   <div *ngIf="passwordError" class=error-message><b>Please insert a valid password</b></div> -->
        </div>
    </div>

    <div class="col-12" *ngIf="loginError || passwordError" style="padding-left: 25px;">
        <p class=error-message><b>{{this.errorMessage}}</b></p>
    </div>

    <div class="row-button ">
        <button type="submit" class="button" (click)="login(username.value, password.value) ">Log In</button>
        <div class="register ">
            <a class="register " routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </div>


</div>