<div class="section library-page">
    <div class="my-games">
        <div class="title-row">
            <div class="title">My Games</div>
        </div>
        <div class="card-list">
            <div class="game-card new-game" data-target="#new-game-modal" data-toggle="modal"
                (click)=this.hiddeErrorMessages()>
                <a class="new-game-btn">+</a>
                <div class="description">Add Game</div>
            </div>
            <div *ngFor="let game of lendingGames" [className]="isAvailable(game) ? 'available' : 'unavailable'">
                <lib-card [gameName]="this.lendingGamesInfo.get(game).game_name"
                    [gameInfo]="this.lendingGamesInfo.get(game)" (change)="handleChange()">
                </lib-card>
            </div>
        </div>
    </div>
    <div class="borrowed-games">
        <div class="title-row">
            <div class="title">Borrowed Games</div>
        </div>
        <div *ngFor="let game of borrowingGames">
            <game-card class="non-owner game-card" [gameName]="this.borrowingGamesInfo.get(game).game_name"
                [gameInfo]="this.borrowingGamesInfo.get(game)">
            </game-card>
        </div>
        <p style="text-align: center; margin-top:50px;color: #666!important;font-size: 18px;"
            *ngIf="borrowingGames.length == 0">You don't have any games borrowed right now, go ask
            for some! :)</p>
    </div>
</div>
<div class="game-modal modal" id="new-game-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" style="float: left;width: 71%;padding-right: 24px;">
                    <datalist id="games-list">
                        <option *ngFor="let gameName of gameNames" value="{{gameName}}">
                    </datalist>
                    <label for="name">Game name</label>
                    <input style="width:100%;" type="text" id="name" class="game-name" list="games-list"
                        autocomplete="off" required />
                    <div class="hidden error-message">
                        <b>Required field</b>
                    </div>
                </div>
                <div class="form-group" style="float:left;">
                    <label for="year">Release Year</label><input type="text" class="year" id="year" required
                        maxlength="4" minlength="4" />
                    <div class="hidden error-message">
                        <b>Invalid Input</b>
                    </div>
                </div>
                <div class="form-group cat-group" style="width:100%;clear:both;">
                    <label for="cat">Categories</label>
                    <div class="categories">
                        <h6 class="pill interactive" *ngFor="let category of categories">{{category}}</h6>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Platform</label>
                    <select class="select-console selectpicker">
                        <option *ngFor="let console of this.consoles" value="{{console.replace(' ','')}}">{{console}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="duration">Loan Duration</label>
                    <div class="input-group duration-group">
                        <input type="range" class="duration-range" multiple min="1" max="10" value="1,10" step="1" />
                        <label for="duration-min"></label>
                        <label for="duration-max"></label>
                    </div>
                </div>
                <div class="form-group">
                    <img src="" class="hidden" id="image">
                </div>
                <div class="form-group">
                    <a class="btn" id="submit-new-game" (click)="this.addGame()">
                        Add game
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>