<div class="section library-page">
    <div class="my-games">
        <div class="title-row">
            <div class="title">My Games</div>
        </div>
        <div class="card-list">
            <div class="game-card new-game" data-target="#new-game-modal" data-toggle="modal">
                <a class="new-game-btn">+</a>
                <div class="description">Add Game</div>
            </div>
            <div *ngFor="let game of lendingGames">
                <lib-card [gameName]="game" [gameInfo]="this.lendingGamesInfo.get(game)"></lib-card>
            </div>
        </div>
    </div>
    <div class="borrowed-games">
        <div class="title-row">
            <div class="title">Borrowed Games</div>
        </div>
        <game-card class="non-owner game-card" *ngFor="let game of borrowingGames" [gameName]="game.game_name" [gameInfo]="game"></game-card>
    </div>
</div>
<div class="game-modal modal" id="new-game-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">Game name</label><input type="text" id="name" />
                </div>
                <div class="form-group">
                    <label for="year">Release Year</label><input type="text" id="year" />
                </div>
                <div class="form-group cat-group">
                    <label for="cat">Categories</label>
                    <div class="categories">
                        <h6 class="pill interactive active">Action</h6>
                        <h6 class="pill interactive active">Sports</h6>
                        <h6 class="pill interactive active">Cooking</h6>
                        <h6 class="pill interactive ">Simulation</h6>
                        <h6 class="pill interactive active">Puzzle</h6>
                        <h6 class="pill interactive ">Adventure</h6>
                    </div>
                </div>
                <div class="form-group">
                    <label for="duration">Loan Duration</label>
                    <div class="input-group duration-group">
                        <input type="range" class="duration-range" multiple min="1" max="6" value="1,6" step="1" />
                        <label for="duration-min"></label>
                        <label for="duration-max"></label>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn" id="submit-new-game">
            Add game
          </a>
                </div>
            </div>
        </div>
    </div>
</div>