<div class="game-info row">
    <div class="col-4 img-col">
        <img src="{{this.game.image_url}}" alt="">
    </div>
    <div class="col-8 text-col">
        <h4>{{this.game.game_name}}</h4>
        <!--this changed, tem de se por aqui um ngFor-->
        <div class="categories">

            <div class="pill active" *ngFor="let category of this.game.category">{{this.category}}</div>

        </div>
        <!--   <h6>Não tenho a descrição do jogo no obj :)</h6> -->
    </div>

    <div class="request-list" *ngFor="let user of users">
        <div class="user" id="{{user.email}}" (click)="selectRequest(user.email, $event)">

            <span class="read">
                {{user.first_name}} {{user.last_name}}
                <span class="unread-count">(1)</span>
            </span>

            <span *ngIf="this.lender == true">
                <br><span class="star-rating "> {{user.borrower_rating}}<i class="fas fa-star "></i> </span> /
            <b style="color:inherit">{{user.total_borrowed}}</b> Borrowed
            <span class="status-message"> {{user.rental_state}}</span>
            </span>
            <span *ngIf="this.lender == false">
                <br><span class="star-rating "> {{user.lender_rating}}<i class="fas fa-star "></i> </span> /
            <b style="color:inherit">{{user.total_lent}}</b> Lent
            </span>


            <!-- meter aqui nº de msgs por ler -->
        </div>

        <!--  <div class="user active read" (click)=selectRequest(user)> -->

    </div>

</div>

<!-- 
<div class="user unread" (click)=selectRequest(user)>
        Manel da esquina <span class="unread-count">(1)</span>
    </div>
    <div class="user active read" (click)=selectRequest(user)>
        Rui Ribeiro <span class="unread-count">(1)</span>
    </div>
</div> -->