<!-- If not logged shows entire screen -->

<!-- <div *ngIf="isLogged() == false">
    <router-outlet></router-outlet>
</div> -->

<div [className]="(this.url.includes('/login') || this.url.includes('/register')) ? 'login-parent' : ''" id="root-body">
    <div class="dark-mode-toggles" style="margin-top: -15px;">
        <i class="fas fa-moon active" id="goDark" (click)="goDark()"></i>
        <i class="fas fa-sun" id="goLight" (click)="goLight()"></i>
    </div>

    <app-navbar *ngIf="isLogged()"></app-navbar>
    <div [className]="isLogged() ? 'content space-nav' : 'content'">
        <router-outlet></router-outlet>
        <div id="snackbar"></div>
        <div class="modal" id="rate-lender">
            <div class="cover-modal" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                bottom: 0;
            " onclick="$('#lender-error-req').show()"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Rate lender

                    </div>
                    <div class="modal-body">
                        <section class='rating-widget'>

                            <!-- Rating Stars Box -->
                            <div class='rating-stars text-center'>
                                <ul id='stars'>
                                    <li class='star' title='Poor' data-value='1'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Fair' data-value='2'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Good' data-value='3'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Excellent' data-value='4'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='WOW!!!' data-value='5'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <p class="error-message text-center" id="lender-error-req"><b>Rating users is required.</b>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="rate-borrower">
            <div class="cover-modal" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                bottom: 0;
            " onclick="$('#borrow-error-req').show()"></div>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">Rate borrower</div>
                    <div class="modal-body">
                        <section class='rating-widget'>

                            <!-- Rating Stars Box -->
                            <div class='rating-stars text-center'>
                                <ul id='stars'>
                                    <li class='star' title='Poor' data-value='1'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Fair' data-value='2'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Good' data-value='3'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Excellent' data-value='4'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='WOW!!!' data-value='5'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                </ul>
                            </div>
                        </section>
                        <p class="error-message text-center" id="borrow-error-req"><b>Rating users is required.</b>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>