<div class="row">
    <div class="col-12">
        <img class="logo" src="assets/llama_2.png">
        <h3 class="title">LlemePlay</h3>
    </div>
</div>

<form [formGroup]="form">


    <div class="box">

        <div class="row">
            <h3 class="box-title">Register</h3>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">First Name</h6>
                    <input type="text" class="boxElem" formControlName="first_name">
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Last Name</h6>
                    <input type="text" class="boxElem" formControlName="last_name">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">Date of birth</h6>
                    <input type="date" class="boxElem" formControlName="birthdate">
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Gender</h6>

                    <input type="radio" value="F" formControlName="gender" id="gender-F">
                    <label for="gender-F">Female</label>
                    <input type="radio" value="M" formControlName="gender" id="gender-M">
                    <label for="gender-M">Male</label>
                    <input type="radio" value="O" formControlName="gender" id="gender-O">
                    <label for="gender-O">Other</label>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">Street Address</h6>
                    <input type="text" class="boxElem-single" formControlName="street_address">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Postal Code</h6>
                    <input type="text" class="boxElem" formControlName="postal_code">
                    <!--  <input type="text" class="boxElem" formControlName="PostalCode2"> -->
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">City</h6>
                    <input type="text" class="boxElem" formControlName="city">
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">E-mail</h6>
                    <input type="text" class="boxElem-single" formControlName="email">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Password</h6>
                    <input type="password" class="boxElem" formControlName="password">
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Password Confirmation</h6>
                    <input type="password" class="boxElem" formControlName="PasswordConfim">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Credit Card Number</h6>
                    <input type="text" class="boxElem-single" formControlName="card_number">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Expiration Date</h6>
                    <input type="text" class="boxElem" formControlName="expiration_date">
                    <!-- <input type="text" class="boxElem" formControlName="ExpirationDate2" style="display: inline-block;"> -->
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Security Code</h6>
                    <input type="text " class="boxElem" formControlName="security_code">
                    <!--       <input type="text " class="boxElem" formControlName="SecurityCode2"> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 button-parent">
                <button class="button " (click)="register() ">Register</button>
            </div>
        </div>

    </div>

</form>