<div class="row">
    <div class="col-12">
        <img class="logo" src="assets/llama_2.png">
        <h3 class="title">LlemePlay</h3>
    </div>
</div>

<form [formGroup]="form">


    <div class="box">

        <div class="row">
            <h3 class="box-title">Register</h3>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">First Name</h6>
                    <input required type="text" class="boxElem" formControlName="first_name">
                    <div *ngIf="this.form.controls['first_name'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>

                <div class="col-6">
                    <h6 class="subtitles">Last Name</h6>
                    <input required type="text" class="boxElem" formControlName="last_name">
                    <div *ngIf="this.form.controls['last_name'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">Date of birth</h6>
                    <input required type="date" class="boxElem" formControlName="birthdate">
                    <div *ngIf="!this.form.controls['birthdate'].touched && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Gender</h6>

                    <input type="radio" value="F" formControlName="gender" id="gender-F">
                    <label for="gender-F">Female</label>
                    <input type="radio" value="M" formControlName="gender" id="gender-M">
                    <label for="gender-M">Male</label>
                    <input type="radio" value="O" formControlName="gender" id="gender-O">
                    <label for="gender-O">Other</label>
                    <div *ngIf="(!this.form.controls['gender'].touched && submited)" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles">Street Address</h6>
                    <input id="address" type="text" class="boxElem-single" formControlName="street_address" required>
                    <div *ngIf="this.form.controls['street_address'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Postal Code</h6>
                    <input id="postal" type="text" class="boxElem" formControlName="postal_code1" required minlength="4" maxlength="4" style="width:60px; text-align: center;">
                    <label style="display:inline-block;  margin: 0 5px;">-</label>
                    <input id="postal2" type="text" class="boxElem" formControlName="postal_code2" required style="display: inline-block; width:50px; text-align: center;" minlength="3" maxlength="3">
                    <div *ngIf="(this.form.controls['postal_code1'].invalid ||  this.form.controls['postal_code2'].invalid) && submited" class="error-message">
                        <b *ngIf="(this.form.controls['postal_code1'].value.length != 4 || this.form.controls['postal_code2'].value.length !=3) && 
                        (this.form.controls['postal_code1'].value.length > 0 || this.form.controls['postal_code2'].value.length > 0)">Insert
                            a valid Postal code </b>
                        <b *ngIf="this.form.controls['postal_code1'].value.length == 0 && this.form.controls['postal_code2'].value.length == 0">Required
                            field</b>
                    </div>
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">City</h6>
                    <input id="city" type="text" class="boxElem" formControlName="city" required>
                    <div *ngIf="this.form.controls['city'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">E-mail</h6>
                    <input id="email" type="email" class="boxElem-single" formControlName="email" required>
                    <div *ngIf="this.form.controls['email'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                    <div *ngIf="emailAlreadyExists" class="error-message">
                        <b>E-mail address already in use</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Password</h6>
                    <span class="pass-wrapper">
                        <input id="password1" type="password" class="boxElem" formControlName="password" required>
                        <i class="fas fa-eye"></i>
                    </span>
                    <div *ngIf="this.form.controls['password'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Password Confirmation</h6>
                    <span class="pass-wrapper">
                        <input id="password2" type="password" class="boxElem" formControlName="PasswordConfim" required>
                        <i class="fas fa-eye"></i>
                    </span>
                    <div *ngIf="this.form.controls['PasswordConfim'].invalid && submited" class="error-message">
                        <b>Required field</b>
                    </div>
                    <div *ngIf="this.form.controls['PasswordConfim'].valid && noMatch" class="error-message">
                        <b>Passwords dont match</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Credit Card Number</h6>
                    <input id="card" type="text" class="boxElem-single" formControlName="card_number" required minlength="16" maxlength="16">
                    <div *ngIf="this.form.controls['card_number'].invalid && submited" class="error-message" style="width:200%">
                        <b *ngIf="this.form.controls['card_number'].value.length != 16 && this.form.controls['card_number'].value.length > 0 ">Insert
                            a valid credit card number (16 digits)</b>
                        <b *ngIf="this.form.controls['card_number'].invalid && this.form.controls['card_number'].value.length == 0">Required
                            field</b>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <h6 class="subtitles ">Expiration Date</h6>
                    <input id="exp" type="text" class="boxElem" formControlName="expiration_date1" required minlength="2" maxlength="2" style="width: 30px;text-align:center">
                    <label style="display: inline-block; margin: 0 5px;"> /</label>
                    <input id="exp1" type="text" class="boxElem" formControlName="expiration_date2" required style="display: inline-block; width: 30px;text-align:center" minlength="2" maxlength="2">
                    <div *ngIf="(this.form.controls['expiration_date1'].invalid ||this.form.controls['expiration_date2'].invalid) && submited" class="error-message">
                        <b *ngIf="(this.form.controls['expiration_date1'].value.length != 2 || this.form.controls['expiration_date2'].value.length !=2) && 
                        (this.form.controls['expiration_date1'].value.length > 0 || this.form.controls['expiration_date2'].value.length > 0)">Insert
                            a valid date </b>
                        <b *ngIf="this.form.controls['expiration_date1'].value.length == 0 && this.form.controls['expiration_date2'].value.length == 0">Required
                            field</b>
                    </div>
                    <!-- <input type="text" class="boxElem" formControlName="ExpirationDate2" style="display: inline-block;"> -->
                </div>

                <div class="col-6">
                    <h6 class="subtitles ">Security Code</h6>
                    <input id="code" type="text " class="boxElem" style="width: 50px; text-align: center;" formControlName="security_code" required minlength="3" maxlength="3">
                    <div *ngIf="this.form.controls['security_code'].invalid && submited" class="error-message">
                        <b *ngIf="(this.form.controls['security_code'].value.length != 3) && (this.form.controls['security_code'].value.length > 0)">Insert
                            a valid security code</b>
                        <b *ngIf="this.form.controls['security_code'].value.length == 0">Required
                            field</b>
                    </div>
                    <!--       <input type="text " class="boxElem" formControlName="SecurityCode2"> -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 button-cancel">
                <button type="button" class="button " (click)="cancel()">Cancel</button>
            </div>
            <div class="col-6 button-parent">
                <button class="button " (click)="register() ">Register</button>
            </div>

        </div>

    </div>

</form>